.stylesRegistroPersonal{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.stylesInput {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}   

.stylesContenedorButton {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .stylesButoon {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: darkgreen;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer; 
    transition: .3s;
  }

  .stylesButoon:hover {
    width: 90%;
  }
.styleErrores{
    font-size: 0.8rem;
    color: #eb2929;
    padding: 5px 0px;
}